@import "../../assets/colors/colors";

.Cart {
    background-color: $primaryColor;
    border: 2px solid $secondaryColor;
    border-radius: 1rem;
    width: 40rem;
    max-width: 95%;
    position: fixed;
    top: 2rem;
    left: 2.5%;
    z-index: 150;
    overflow: hidden;
    animation: slide-down 300ms linear;

    button {
        width: 5.5rem;
        height: 2.5rem;
        border-radius: 1rem;
        background-color: $primaryColor;
        color: $secondaryColor;
        font-weight: 700;
        border: none;
        margin: 1rem;
        transition: all 150ms linear;
    }

    button:hover {
        background-color: rgba(41, 41, 41, 1);
        transform: scale(1.05)
    }

    .Inactive {
        display: none;
    }

    ul {
        height: 30rem;
        overflow: auto;
        margin: 0;
        padding: 1rem;
        border-bottom: 2px solid $secondaryColor;
    }

    footer {
        width: 100%;
        min-height: 2rem;
        background-color: $secondaryColor;

        p {
            margin: 0;
            padding: 0 1rem;
            color: $primaryColor;
            font-weight: 700;

            span {
                margin: 0 .5rem;
            }
        }
    }
}

@media (min-width: 500px) {
    .Cart {
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-200%)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}