@import "../../../assets/colors/colors";

.WineItem {
    list-style: none;
    border-bottom: 1px solid $secondaryColor;
    padding: 1rem;
    /* display: flex;
    justify-content: space-between; */

    h3 {
        margin: 0;
        padding: 0;
    }

    .WineDetails {
        //width: 60%;

        .Details {
            padding-right: .5rem;
            height: 12rem;
            overflow-y: scroll;
        }

        .Details::-webkit-scrollbar-track {
            border-radius: 1rem;
        }
    }

    form {
        display: flex;
        //flex-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 .2rem;

        label {
            width: max-content;
        }

        input,
        button {
            font-weight: 700;
            font-size: 1rem;
            border: 2px solid $secondaryColor;
            color: $primaryColor;
            border-radius: 1rem;
        }

        input {
            height: 2.5rem;
            margin: 0 .5rem;
            padding: 0 .2rem;

            label {
                margin: 0 auto;
            }
        }

        button {
            margin: 2rem 0;
            width: 5rem;
            height: 2.5rem;
            background-color: $secondaryColor;
            transition: all 150ms linear;
        }

        button:hover {
            background-color: rgb(146, 118, 92);
            border: 2px solid rgb(146, 118, 92);
        }
    }
}

@media (min-width: 500px) {
    .WineItem {
        display: flex;
        justify-content: space-between;

        .WineDetails {
            width: 70%;
        }

        form {
            flex-flow: column;
            align-items: flex-start;
        }
    }
}