@import "../../../assets/colors/colors";

.WineItem {
    list-style: none;
    border-bottom: 1px solid $secondaryColor;
    padding: 1rem;

    h3 {
        margin: 0;
        padding: 0;
    }

    .WineDetails {

        .Details {
            padding-right: .5rem;
            height: 12rem;
            overflow-y: scroll;
        }

        .Details::-webkit-scrollbar-track {
            border-radius: 1rem;
        }
    }

    form {
        display: flex;
        align-items: center;
        padding: 0 .2rem;

        input[type="number"] {
            appearance: textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        label {
            width: fit-content;
            margin: 1rem auto;
        }

        input,
        button {
            font-weight: 700;
            font-size: 1rem;
            background-color: $secondaryColor;
            border: none;
            color: $primaryColor;
            border-radius: 1rem;
            min-height: 2.5rem;
            width: 6rem;
            margin: 1rem auto;
            text-align: center;
        }

        button {
            padding: .5rem;
            transition: all 150ms linear;
        }

        button:hover {
            background-color: rgb(146, 118, 92);
        }
    }
}

@media (min-width: 500px) {
    .WineItem {
        display: flex;
        justify-content: space-between;

        .WineDetails {
            width: 70%;
        }

        form {
            flex-flow: column;
            align-items: flex-start;
        }
    }
}