@import "../../../assets/colors/colors";

.Modal {
    background-color: $primaryColor;
    border: 2px solid $secondaryColor;
    border-radius: 1rem;
    width: 40rem;
    max-width: 95%;
    position: fixed;
    top: 2rem;
    left: 2.5%;
    z-index: 150;

    ul {
        height: 20rem;
        overflow: auto;
        margin: 0;
        padding: 1rem;
        border-bottom: 2px solid $secondaryColor;

        h3 {
            width: 100%;
            text-align: center;
            color: $secondaryColor;
            font-size: 2rem;
        }

    }


    ul::-webkit-scrollbar {
        width: .5rem;
    }

    ul::-webkit-scrollbar-thumb {
        background-color: rgba(51, 51, 51, .5)
    }

    p {
        padding: 0 1rem;
        color: $secondaryColor;
        font-weight: 700;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: center;

        button {
            width: 5rem;
            height: 2rem;
            border-radius: 1rem;
            background-color: $secondaryColor;
            color: $primaryColor;
            font-weight: 700;
            border: none;
            margin: 1rem;
        }
    }
}

@media (min-width: 500px) {
    .Modal {
        left: calc(50% - 20rem);
    }
}