@import "../../../assets//colors/colors";

.Cart {
    height: 80%;
    border-radius: 2rem;
    border: none;
    margin: 0 2%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: $secondaryColor;
    background-color: $primaryColor;
    box-shadow: 2px 2px 5px $primaryColor;
    transition: all 150ms linear;

    svg {
        width: 2rem;
        height: 2rem;
        transition: all 150ms linear;
    }

    p {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        background-color: $secondaryColor;
        color: $primaryColor;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 100%;
        transition: all 150ms linear;
    }
}

.Cart:hover {
    background-color: $secondaryColor;
    color: $primaryColor;

    svg {
        fill: $primaryColor;
    }

    p {
        color: $secondaryColor;
        background-color: $primaryColor;
    }
}

.Active {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}