@import "../../../assets//colors/colors";

.Navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    background-color: $secondaryColor;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    .Logo {
        font-weight: 700;
    }

    div {
        margin: 0 .5rem;
    }
}

@media (min-width: 350px) {
    .Navigation {
        div {
            margin: 0 1rem;
        }
    }
}