@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import "assets/colors/colors";

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 142, 116, 1) $primaryColor;
}

*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(117, 99, 82);
  border-radius: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: rgba(170, 142, 116, 1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(51, 51, 51, 1);
  position: relative;
  overflow-x: hidden;

  a,
  button {
    cursor: pointer;
  }

  input:focus,
  button:focus {
    outline: none;
  }

  .App {
    overflow-x: hidden;
  }
}

/* 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */