@import "../../../assets/colors/colors";

.CartItem {
    list-style: none;
    border-bottom: 1px solid $secondaryColor;
    color: $secondaryColor;
    display: flex;
    justify-content: space-between;

    .Details {
        display: flex;
        flex-direction: column;
        padding: 0 .5rem;

        h3 {
            margin: 0;
        }

        span {
            margin: 0 1rem;
            padding: 0.2rem 1rem;
            font-weight: 700;
            border-radius: .5rem;
            background-color: $secondaryColor;
            color: $primaryColor;
        }
    }

    .Amount {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;
            margin: 1rem .5rem;
            background-color: $secondaryColor;
            color: $primaryColor;
            border-radius: .5rem;
            border: none;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}